<!--
 Copyright 2021 PAL Robotics SL.
 All Rights Reserved
 
 Unauthorized copying of this file, via any medium is strictly prohibited,
 unless it was supplied under the terms of a license agreement or
 nondisclosure agreement with PAL Robotics SL. In this case it may not be
 copied or disclosed except in accordance with the terms of that agreement.
 
 
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Wheel transmission -->
  <xacro:macro name="wheel_transmission" params="side">
    <transmission name="wheel_${side}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="wheel_${side}_motor" >
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <joint name="wheel_${side}_joint" >
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/JointStateInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>

</robot>