<?xml version="1.0"?>
<!--

  Copyright (c) 2021, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find omni_base_description)/urdf/base/base.urdf.xacro"/>

  <xacro:include filename="$(find pmb2_description)/urdf/sensors/hokuyo_urg_04lx_ug01_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim551_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim561_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim571_laser.urdf.xacro"/>

  <xacro:include filename="$(find omni_base_description)/urdf/deg_to_rad.xacro"/>

  <!-- Laser model can be: false, hokuyo, sick-551, sick-561, sick-571-->
  <xacro:macro name="laser_sensor" params="name parent model ros_topic *origin update_rate:=10">

    <xacro:if value="${model == 'sick-551'}">
      <!-- Rear Laser:  Theoretic FOV = 270 -->
      <xacro:sick_tim551_laser name="${name}" parent="${parent}" ros_topic="${ros_topic}" update_rate="${update_rate}" min_angle="${-135 * deg_to_rad}" max_angle="${135 * deg_to_rad}" >
        <xacro:insert_block name="origin" />
      </xacro:sick_tim551_laser>
    </xacro:if>

    <xacro:if value="${model == 'sick-561'}">
      <!-- Rear Laser:  Theoretic FOV = 270 -->
      <xacro:sick_tim561_laser name="${name}" parent="${parent}" ros_topic="${ros_topic}" update_rate="${update_rate}" min_angle="${-135 * deg_to_rad}" max_angle="${135 * deg_to_rad}" >
        <xacro:insert_block name="origin" />
      </xacro:sick_tim561_laser>
    </xacro:if>

    <xacro:if value="${model == 'sick-571'}">
      <!-- Rear Laser:  Theoretic FOV = 270 -->
      <xacro:sick_tim571_laser name="${name}" parent="${parent}" ros_topic="${ros_topic}" update_rate="${update_rate}" min_angle="${-135 * deg_to_rad}" max_angle="${135 * deg_to_rad}" >
        <xacro:insert_block name="origin" />
      </xacro:sick_tim571_laser>
    </xacro:if>

    <xacro:if value="${model == 'hokuyo'}">
      <!-- Rear Laser:  Theoretic FOV = 240 -->
      <xacro:hokuyo_urg_04lx_ug01_laser name="${name}" parent="${parent}" ros_topic="${ros_topic}" update_rate="${update_rate}" min_angle="${-120 * deg_to_rad}" max_angle="${120 * deg_to_rad}" >
        <xacro:insert_block name="origin" />
      </xacro:hokuyo_urg_04lx_ug01_laser>
    </xacro:if>
  </xacro:macro>

  <!-- front_laser_model can be: false, hokuyo, sick-551, sick-561, sick-571-->
  <!-- rear_laser_model can be: false, hokuyo, sick-551, sick-561, sick-571-->
  <xacro:macro name="base_sensors" params=" name front_laser_model:=sick-571 rear_laser_model:=sick-571 laser_height:=0.13244">

    <!-- Rear Laser Sensor -->
    <xacro:laser_sensor name="${name}_rear_laser" parent="${name}" model="${rear_laser_model}" ros_topic="scan_rear_raw">
      <origin xyz="-0.27512 0.18297 ${laser_height}" rpy="${-180 * deg_to_rad} 0 ${135 * deg_to_rad}" />
    </xacro:laser_sensor> 

    <!-- Front Laser Sensor -->
    <xacro:laser_sensor name="${name}_front_laser" parent="${name}" model="${front_laser_model}" ros_topic="scan_front_raw">
      <origin xyz="0.27512 -0.18297 ${laser_height}" rpy="${-180 * deg_to_rad} 0 ${-45 * deg_to_rad}" />
    </xacro:laser_sensor> 

    <!-- Virtual Base Laser Link -->
    <joint name="virtual_${name}_laser_joint" type="fixed">
        <parent link="${name}_link"/>
        <child link="virtual_${name}_laser_link"/>
        <origin xyz="0 0 ${laser_height}" rpy="0 0 0" />
    </joint>
    <link name="virtual_${name}_laser_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.0001" />
            <inertia ixx="0.0001"  ixy="0"  ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
        </inertial>
    </link>

    <xacro:base name="${name}"/>

  </xacro:macro>

</robot>
