<launch>
  <arg name="front_laser_model"  default="sick-571"/>
  <arg name="rear_laser_model"  default="sick-571"/>
  
  <!-- Args are the ones that upload.launch requires-->
  <include file="$(find omni_base_description)/robots/upload.launch">
    <arg name="front_laser_model"  value="$(arg front_laser_model)"/>
    <arg name="rear_laser_model"  value="$(arg rear_laser_model)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz"/>
</launch>
