<launch>
  <arg name="multi" default=""/>
  <arg name="front_laser_model"  default="sick-571"/>
  <arg name="rear_laser_model"  default="sick-571"/>

  <!-- Robot description -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder
    '$(find omni_base_description)/robots/omni_base.urdf.xacro'
    front_laser_model:=$(arg front_laser_model)
    rear_laser_model:=$(arg rear_laser_model)
    $(arg multi)" />
 <rosparam command="load" file="$(find omni_base_description)/config/joint_limits.yaml" />
</launch>
