<?xml version="1.0"?>
<!--
  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- PROPERTIES -->

  <!-- Execution env config -->
  <xacro:property name="default_calibration_path" value="$(find omni_base_description)"/>
  <xacro:property name="calibration_path" value="$(optenv omni_base_description_calibration_path ${default_calibration_path})"/>
  <xacro:property name="use_sim_time" value="$(arg use_sim_time)" />

  <!-- base RGBD characteristics -->
  <xacro:property name="base_rgbd_x" value="0.327327"/>
  <xacro:property name="base_rgbd_y" value="0.0"/>
  <xacro:property name="base_rgbd_Y" value="0.0"/>

  <!-- roof RGBD characteristics -->
  <xacro:property name="roof_rgbd_x" value="0.297329"/>
  <xacro:property name="roof_rgbd_y" value="0.0"/>
  <xacro:property name="roof_rgbd_Y" value="0.0"/>

  <!-- base/roof RGBD calibratable characteristics -->
  <!-- spec = rgbd_z, rgbd_R and rgbd_P -->
  <xacro:include filename="${calibration_path}/urdf/cameras_add_on/base_omni_base_calib.urdf.xacro"/>
  <xacro:include filename="$(find pal_urdf_utils)/urdf/deg_to_rad.urdf.xacro" />

  <xacro:if value="${camera_model == 'realsense-d435'}">
    <!-- INCLUDES -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <!-- RGBD base -->
    <xacro:sensor_d435
      name="base_rgbd_camera" 
      parent="base_link"
      topics_ns="base_rgbd_camera"
      use_nominal_extrinsics="${use_sim_time}">
      <origin 
          xyz="${base_rgbd_x}
              ${base_rgbd_y}
              ${base_rgbd_z}" 
          rpy="${base_rgbd_R * deg_to_rad}
              ${base_rgbd_P * deg_to_rad}
              ${base_rgbd_Y * deg_to_rad}"/>
    </xacro:sensor_d435>

    <!-- RGBD roof -->
    <xacro:sensor_d435
      name="roof_rgbd_camera"
      parent="base_link"
      topics_ns="roof_rgbd_camera"
      use_nominal_extrinsics="${use_sim_time}">
      <origin
          xyz="${roof_rgbd_x}
              ${roof_rgbd_y}
              ${roof_rgbd_z}"
          rpy="${roof_rgbd_R * deg_to_rad}
              ${roof_rgbd_P * deg_to_rad}
              ${roof_rgbd_Y * deg_to_rad}"/>
    </xacro:sensor_d435>
  </xacro:if>

  <xacro:if value="${camera_model == 'realsense-d435i'}">
    <!-- INCLUDES -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />

    <!-- RGBD base -->
    <xacro:sensor_d435i
      name="base_rgbd_camera" 
      parent="base_link"
      topics_ns="base_rgbd_camera"
      use_nominal_extrinsics="${use_sim_time}">
      <origin 
          xyz="${base_rgbd_x}
              ${base_rgbd_y}
              ${base_rgbd_z}" 
          rpy="${base_rgbd_R * deg_to_rad}
              ${base_rgbd_P * deg_to_rad}
              ${base_rgbd_Y * deg_to_rad}"/>
    </xacro:sensor_d435i>

    <!-- RGBD roof -->
    <xacro:sensor_d435i
      name="roof_rgbd_camera"
      parent="base_link"
      topics_ns="roof_rgbd_camera"
      use_nominal_extrinsics="${use_sim_time}">
      <origin
          xyz="${roof_rgbd_x}
              ${roof_rgbd_y}
              ${roof_rgbd_z}"
          rpy="${roof_rgbd_R * deg_to_rad}
              ${roof_rgbd_P * deg_to_rad}
              ${roof_rgbd_Y * deg_to_rad}"/>
    </xacro:sensor_d435i>
  </xacro:if>

</robot>
