<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find omni_base_controller_configuration)/config/joint_state_controller_extra_joints.yaml" ns="joint_state_controller"/>
  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
  <rosparam command="load" file="$(find imu_sensor_controller)/imu_sensor_controller.yaml" />

  <!-- Set up controllers -->
  <arg name="controller_list"
       value="imu_sensor_controller
              joint_state_controller
              mobile_base_controller"/>

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="--timeout 120 $(arg controller_list)" />

</launch>
